/*  ===  SERVICES  ===
******************************************* */
/* services section */
.services {
    column-gap: 3.5rem;
}

.service {
    background-color: #fbfbfb;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    line-height: normal;
}

.service-photo-link {
    visibility: hidden;
    /* padding: 15px 20px; */
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.2s;
    transform: translateY(100%);
    z-index: 1;
}

.service:hover .service-photo-link {
    visibility: visible;
    transition: all 0.15s;
    transform: translateY(0%);
}

.service-content {
    padding: 1rem 2.5rem 2rem 1rem;
}

.activities {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

.activity {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
}

.activity-cleaning {
    background-color: #2e8540;
}

.activity-washing {
    background-color: #205493;
}

.activity-polishing {
    background-color: #5b616b;
}


.activity-upkeep {
    background-color: #046b99;
}

.service-title {
    font-weight: 600;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #100c35;
    margin-bottom: 2.4rem;
}

.activity-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.activity-attribute {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

/* info service section */
.info-service {
    gap: 2rem;
    align-items: center;
}

.info-services {
    background-color: #fdf2e9;
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
}

.service-icon {
    height: 1.8rem;
    width: 1.8rem;
    color: #981b1e;
}

/* features service section */
.features {
    column-gap: 4rem;
    row-gap: 6.4rem;
}

.feature-title {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: background-color 0.3s ease;
    color: var(--color-grey-dark);
    letter-spacing: -0.5px;
}

.feature-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    width: 100%;
    height: 0.14rem;
    background-color: #121212;
    /* transition: background-color 0.3s ease; */
}

.feature:hover .feature-title {
    color: var(--color-red-light);
}

.feature:hover .feature-title:after {
    background-color: var(--color-red-light);
    height: 0.2rem;
}

.feature-text {
    line-height: 1.8;
    gap: 0.6rem;
}



/*  ===  image effects darkening-effect  ===  */
.darkening-effect {
    position: relative;
}

.darkening-effect::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(24, 24, 24, 0.15);
    transition: all 0.2s ease;
    z-index: 1;
}

.service:hover .darkening-effect::before,
.service-list:hover .darkening-effect::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.service-photo-link a:link,
.service-photo-link a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    width: 49.7%;
    background-color: var(--color-accent-yellow);
    color: var(--color-dark);
    font-weight: 700;
    transition: all 0.2s;
    text-transform: uppercase;
    border-top: 2px solid var(--color-white);
    border-bottom: 1px solid var(--color-dark);
}

.service-photo-link a:hover,
.service-photo-link a:active {
    color: var(--color-link-hover-2)
}

.img-bottom {
    right: 0;
    left: 0;
    bottom: 0px;
}

.list-icon {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--icon-blue);
    color: #205493;
}